:root {
  --primary-color-error: rgb(175, 86, 8);
  --valid: green;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.modal-content {
  background-color: #f4f4f4;
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 12px;
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.close-btn {
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 1.5rem;
  z-index: 1;
}
.modal-content-left {
  background: var(--primary-color);
  border-radius: 12px;
  position: relative;
}
.modal-content-left #model-img {
  width: 85%;
  height: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
}
.modal-content-right {
  border-radius: 12px;
  position: relative;
}
.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-form h1 {
  font-size: 1rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
}
.modal-form .form-validation {
  margin-bottom: 0.5rem;
  width: 80%;
}
.modal-form .form-validation.error {
  margin-bottom: 1.5rem;
  position: relative;
  border: 1px solid var(--primary-color-error);
  border-radius: 12px;
}
.modal-form .form-validation p {
  font-size: 0.7rem;
  margin-top: 0.5rem;
  color: var(--primary-color-error);
  position: absolute;
  top: 1.8rem;
  display: none;
}
.modal-form .form-validation.error p {
  display: block;
}
.modal-form .form-validation.valid {
  margin-bottom: 0.5rem;
  position: relative;
  border: 1px solid var(--valid);
  border-radius: 12px;
}
.modal-form .form-validation .modal-input {
  display: block;
  padding-left: 0.5rem;
  outline: none;
  border-radius: 12px;
  border: none;
  height: 2rem;
  width: 100%;
  box-shadow: 1px 1px 1px var(--primary-color);
}
.modal-form .form-validation .modal-input::placeholder {
  color: var(--brown);
}
.modal-form .modal-input-btn {
  width: 80%;
  border-radius: 12px;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: white;
  height: 2rem;
  cursor: pointer;
  font-size: 1rem;
}
.modal-form .modal-input-btn:hover {
  background-color: var(--brown);
  transition: 0.3s;
}
.modal-input-login {
  font-size: 0.8rem;
  margin-top: 1rem;
  width: 80%;
  text-align: center;
}
.modal-input-login a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .modal-content-left {
    display: none;
  }
  .modal-content {
    grid-template-columns: auto;
    margin: 15% auto;
    width: 70%;
    height: 75%;
  }
}
@media screen and (max-width: 580px) {
  .modal-content {
    margin: 20% auto;
    width: 90%;
    height: 80%;
  }
}
